body {
  background: #060e1b;
  overflow: hidden;
}
/* canvas {
  display: block;
  position: absolute;
  background: rgb(33, 166, 166);
  top: 0;
  left: 0;
  z-index: 1;
} */
/* img {
  display: none;
} */
a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  position: absolute;
  /* top: 5%; */
  bottom: 5%;
  /* right: 5%; */
  left: 2%;
  z-index: 100;
}
